In [2]:
import requests
import json
import pandas as pd

In [3]:
#Take user input for a stock (using the Ticker Symbol)
stock=input()

BA

In [4]:
#Ticker Name
print("Stock Ticker Name is:" + stock)

Stock Ticker Name is:BA

In [84]:
#Full Name of Stock
apikey= "J6vz0MLwdT8Fe38Y83bKh4L2098q02qc8nCyGV7R"
url = "https://yfapi.net/v6/finance/quote"
querystring = {"symbols":stock}

headers = {
    'x-api-key': apikey
    }

response = requests.request("GET", url, headers=headers, params=querystring)
# print(response.text)
quote_json = response.json()
full_name = quote_json['quoteResponse']['result'][0]["longName"]
print(full_name)

The Boeing Company

In [82]:
#Current Market Price
cmp = quote_json['quoteResponse']['result'][0]["regularMarketPrice"]
print(" Price: $" + str(cmp))

 Price: $156.32

In [83]:
#Target Mean Price
apikey= "J6vz0MLwdT8Fe38Y83bKh4L2098q02qc8nCyGV7R"
url = f"https://yfapi.net/v11/finance/quoteSummary/{stock}"
querystring = {"modules":'financialData'}
headers = {
    'x-api-key': apikey
    }
response = requests.request("GET", url, headers=headers, params=querystring)

quoteSummary_json = response.json()

tmp = quoteSummary_json['quoteSummary']['result'][0]['financialData']['targetMeanPrice']['raw']
print("Target Mean Price: $" + str(tmp))

Target Mean Price: $211.76

In [79]:
#52 week high and 52 week low
high52weeks = quote_json['quoteResponse']['result'][0]['fiftyTwoWeekHigh']
low52weeks = quote_json['quoteResponse']['result'][0]['fiftyTwoWeekLow']
print(f"52 week high: {high52weeks}")
print(f"52 week low: {low52weeks}")

52 week high: 267.54
52 week low: 151.65

In [78]:
# 5 of the current trending stock
region = 'US'
url = f"https://yfapi.net/v1/finance/trending/{region}"
querystring = {} # {"modules":'financialData'}
response = requests.request("GET", url, headers=headers, params=querystring)

trending_json = response.json()
print('--- 5 trending stocks in the U.S. ---')
for i in range(5):
  print(f"{i+1}: {trending_json['finance']['result'][0]['quotes'][i]['symbol']}")

--- 5 trending stocks in the U.S. ---
1: ^N225
2: NQ=F
3: 9866.HK
4: 9988.HK
5: ^HSI

I put the stock info into a dataframe but the instructions on the discord confused me with which specific data I was supposed to input so
this was my best interpretation.

In [87]:
# put data in data frame
columns = ['Symbol', 'Full Name', 'Current Market Price', 'Target Mean Price', '52 week high', '52 week low']
data = [[stock, full_name, cmp, tmp, high52weeks, low52weeks]]
df = pd.DataFrame(data, columns=columns)
df

,Symbol,Full Name,Current Market Price,Target Mean Price,52 week high,52 week low
0,BA,The Boeing Company,156.32,211.76,267.54,151.65